<div class = "results-container">
  <h1>Find your perfect Petsitter</h1>

  <%= form_tag(petsitters_path, :method => "get", remote: true, class: "form-inline") do %>
    <div class="input-group">
      <%= search_field_tag :location, params[:location], placeholder: "Enter the location", class: "form-control" %>
      <div class="checkbox">
        <div class="form-check form-check-inline">
          <div class="form-check form-check-inline">
            <%= check_box_tag :cat, params[:cat], class: "form-check-input"%>
            <label class="form-check-label">
              <i class="fa-solid fa-cat fa-2xl" style="color: #0a9e8f;"></i>
            </label>
          </div>
        </div>
        <div class="form-check form-check-inline">
          <%= check_box_tag :dog, params[:dog], class: "form-check-input" %>
          <label class="form-check-label">
              <i class="fa-solid fa-dog fa-2xl" style="color: #0a9e8f;"></i>
            </label>
        </div>
      </div>
        <%= button_tag "Search for petsitter", id: "search-btn"%>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert-warning">
      <%= flash[:alert] %>
    </div>
  <% end %>

    <!-- Map -->
  <div class = "results">
    <div class = "map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <!-- Petsitter results -->
    <div class="result-cards">
      <% @petsitters.each do |petsitter| %>
        <%= link_to petsitter_path(petsitter), id: "link" do %>
          <div class="result-card">
            <%= image_tag(petsitter.photo, size: "120x120", alt: "Petsitter Photo") %>
            <div class="result-card-infos">
              <h3><%= petsitter.first_name %> <%= petsitter.last_name %></h3>
              <p>From <em id="rate"><%= rand(10..30)%>$</em> per hour</p>
            </div>
          </div>
        <% end%>
      <% end%>
    </div>
  </div>
</div>
