
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-vector/illustration-concept-with-people-with-pets_52683-30880.jpg?w=1060&t=st=1706711501~exp=1706712101~hmac=7b29fbb7c3b6b73caa029a08f56638577f7988cbb261a1f9c58248b818533a19);">
  <div class="container">
    <h1>Your Pet's Home Away from Home</h1>
    <p>Trustworthy Pet Sitting Services Tailored Just for You</p>
    <button type="button" class="btn btn-primary">Learn more</button>
  </div>
</div>


<%= form_tag(petsitters_path, :method => "get") do %>
<div class="input-group">
  <%= search_field_tag :search, params[:search], placeholder: "Enter the location", class: "form-control" %>
  <div class="checkbox">
    <div> Cat:</div>
  <%= check_box_tag :cat, params[:cat] %>
  <div>Dog:</div>
  <%= check_box_tag :dog, params[:dog] %>
  </div>


  <div class="input-group-btn">
    <%= button_tag "Search for petsitter", :class => 'btn btn-info glyphicon glyphicon-search',:name=> nil%>
  </div>
</div>
<% end %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
