

<div class="card" style="width: 18rem;">
    <%= image_tag @petsitter.photo %>
  <div class="card-body">
        <h1 class="card-title"><%= @petsitter.first_name %> <%= @petsitter.last_name %></h1>
        <p class="card-text"><%= @petsitter.description %></p>
    <%= link_to 'View details', new_user_booking_path(user_id: current_user.id, petsitter_id: @petsitter.id), class:"btn btn-success" %>

  </div>
</div>

