

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <%= image_tag"new.png" %>
      <div class="card-body">
        <h1 class="card-title"><%= @petsitter.first_name %> <%= @petsitter.last_name %></h1>
        <p class="card-text"><%= @petsitter.description %></p>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Book Now', new_user_booking_path(user_id: current_user.id, petsitter_id: @petsitter.id) %>
