
  <div class="d-flex profile">
    <div class="card mb-3 full-card" style="width: 70vw;">
      <div class="row g-0 pic-bio">
        <div class="col-md-4 set-pic">
          <%= image_tag @petsitter.photo, class: "img-fluid rounded-start image" %>
        </div>
        <div class="col-md-8">
          <div class="card-body card-bio">
            <h3 class="card-title" style="font-weight:bold"><%= @petsitter.first_name %> <%= @petsitter.last_name %></h3>
            <p class="card-text"><%= @petsitter.description %></p>
            <p class="card-text">
            <div class="bnow-btn">

            </div>
              <small class="text-muted bnow-btn">
                <%= link_to 'Book Now', new_petsitter_booking_path(petsitter_id: @petsitter.id), class: "btn btn-success" %>
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>




<div class="d-flex justify-content-center review">
<h3>Reviews</h3>
</div>

<div class="card-group review-scn">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @petsitter.rt %></h5>
      <p class="card-text"><%= @petsitter.review %></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @petsitter.rt %></h5>
      <p class="card-text"><%= @petsitter.review1 %></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @petsitter.rt %></h5>
      <p class="card-text"><%= @petsitter.review2 %></p>
    </div>
  </div>
</div>
