<div class="container">
  <h1 class="text-center mt-4">Secure Your Pet's Perfect Match!</h1>

  <div id="booking-form" class="row justify-content-center">
    <div class="col-sm-6">
      <%= simple_form_for [@petsitter, @booking] do |f| %>

      <div class="mb-3">
        <%= f.input :date_from, label: "From:", input_html: { class: 'form-control datepicker' } %>
      </div>

      <div class="mb-3">
        <%= f.input :date_to, label: "To:", input_html: { class: 'form-control datepicker' } %>
      </div>


      <div class="mb-3">
        <%= f.input :comment, label: "Leave a message!", input_html: { class: 'form-control' } %>
      </div>

        <%= f.hidden_field :user_id, value: current_user.id %>

        <%= f.submit 'Create Booking', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
