<div class="container-bk">

<div>


  <div class="row justify-content-center">

    <div class="col-sm-6 booking-form">
    <h1 class="text-center mt-4">Secure Your Pet's Perfect Match!</h1>
      <%= simple_form_for [@petsitter, @booking] do |f| %>

      <div class="mb-3">
        <%= f.input :date_from, label: "From:", input_html: { class: 'form-control datepicker' } %>
      </div>

      <div class="mb-3">
        <%= f.input :date_to, label: "To:", input_html: { class: 'form-control datepicker' } %>
      </div>


      <div class="mb-3">
        <%= f.input :comment, label: "Leave a message!", input_html: { class: 'form-control' } %>
      </div>

        <%= f.hidden_field :user_id, value: current_user.id %>

        <div class="btn-light">
        <%= f.submit 'Create Booking', class: "btn btn-success" %>
        </div>


      <% end %>
    </div>
  </div>

</div>

</div>
