<div class="container text-center">
  <div class="row">
    <div class="col-md-6 mb-4">
      <!-- Account Info Card -->
      <div class="card-container">
        <div class="card-user">
          <img src="https://images.unsplash.com/photo-1632498301446-5f78baad40d0?q=80&w=500&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZG9nJTIwb3duZXJ8ZW58MHx8MHx8fDA%3D" class="profile-pic" />
          <% if @user %>
            <div class="card-user-infos mt-3">
              <p class="user-name text-center"><strong>Emily</strong></p>
              <p class="text-center location"><strong>London</strong> <span class="location-pin">📍</span></p>
              <p>Hello pet-loving community! I'm Emily, and my beloved four-legged companion is Gina, the ultimate jetsetter pup. As we embark on our next adventure, I'm on the lookout for the perfect pet-sitter to provide a warm and loving home for Gina while I'm away. If you're someone who understands the importance of cuddles, playtime, and a little wanderlust, join us in making sure Gina has the best staycation ever! Your home could be the perfect pitstop for Gina's vacation. Let's chat and ensure a tail-wagging experience</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <!-- My Bookings Card -->
      <div class="card-container">
        <h2>My Bookings:</h2>
        <% @bookings.each do |booking| %>
          <div class="card-booking">
            <div class="booking-header">
              <!-- Petsitter Avatar -->
              <%= image_tag booking.petsitter.photo, class: " avatar img-fluid" %>
              <!-- Booking Details -->
              <div class="booking-details">
                <p>
                  <h3><%= booking.petsitter.first_name %> <button class="btn btn-warning">Pending</button></h3>
                </p>
                <p><strong>From:</strong> <%= booking.date_from %> <strong>to:</strong> <%= booking.date_to %></p>
                <p>Message sent to <%= booking.petsitter.first_name %>: <%= booking.comment %></p>
              </div>
            </div>
          </div>
        <% end %>
      <%= link_to "Make another booking", petsitters_path, class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div>
